/* 
-----COLORS-----
#726e60
#b1bdae
#e5dbbc
#9fa887
#968f86
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: rgb(255, 222, 160);
  display: grid;
  grid-column: 2;
  grid-template: 1fr 1fr /1fr 1fr;
  align-items: end;
  justify-items: end;
  align-items: center;
}

.search-container,
.profile-container {
  display: flex;
  padding: 0.5em;
}

.search-container,
.profile-container {
  align-self: start;
}

.search-container,
.welcome-container {
  justify-self: start;
  margin-left: 4rem;
}

.profile-container,
.header > .menu {
  margin-right: 4rem;
}

.welcome-container > .avatar {
  height: 70px;
  border-radius: 50%;
}

.welcome-container {
  display: flex;
  align-items: center;
}

.welcome-container > .avatar {
  margin: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-container > img,
.profile-container > h3 {
  padding: 5px;
}

.profile-container > .avatar {
  height: 50px;
  border-radius: 50%;
}

.search-container {
}

input[type="search"] {
  border-radius: 12px;
  width: 700px;
  height: 25px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

.menu > button {
  font-size: 1em;
  font-weight: 700;
  padding: 10px 0 10px 0;
  margin: 10px;
  border-radius: 20px;
  border: none;
}

.menu > button:hover {
  cursor: pointer;
}

.sidebar {
  background-color: rgb(255, 189, 226);
  grid-column: 1;
  grid-row: 1/-1;
}

.first-menu,
.second-menu {
  border: 2px dashed red;
  padding: 1em;
}

.sidebar > ul {
  list-style: none;
}

.sidebar > ul > li {
  font-size: 1.3em;
  margin: 1em;
}

.content {
  display: grid;
  background-color: #8abdff;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  padding: 2em;
}

.project-container {
  gap: 2em;
}

.project {
  gap: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
}

.card {
  background-color: white;
  border-radius: 12px;
  border-left: 5px solid yellow;
}

.right-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
}

.announcement > h4 {
  margin: 5px 0 5px 0;
  font-size: 0.9em;
}

.announcement > p {
  margin: 8px 0 8px 10px;
  font-size: 0.8em;
}

.announcement {
  width: 80%;
  border-bottom: 2px solid grey;
}
.announcement:nth-last-child(1) {
  border: none;
}

.trends {
  background-color: white;
  border-radius: 12px;
}

.trend {
  padding: 0.5em;
  display: flex;
  align-items: center;
}
